.navClass{
    background-color: lightblue;
    padding: .5em .5em;
    margin: 0 0;
    margin-top: -5px;
    animation-name: navShow;
    animation-duration: 1000ms; 
    clip-path: inset(100%, 100%, 100%, 100%);
    animation-fill-mode: forwards;
}
@keyframes navShow {
    from {clip-path: inset(100%, 100%, 100%, 100%);}
    to {clip-path: inset(0%);}
}

.ulClass{
    list-style-type: none;
    display: flex;
    align-content: center;
}
.liClass{
    padding-right: 1em;
}

.linkClass{
    text-decoration: none;
}
