.container{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(173, 215, 229);
}

.routingComponent{
    padding: 1em 0;
}
.linkClass{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.logo{
    font-weight: bold;
    display: inline;
    text-decoration: none;
    padding-left: 20px;
    padding: 1em 1em;
}
.navList {
    float: right;
}
.ulList{
    list-style-type: none;
    margin: 0;
    display: flex;
}
.liItem .link{
    padding: 1em 1em;
    text-decoration: none;
    background-color: lightblue;
}
.link:hover{
    background-color: rgb(173, 215, 249);
}