.planet {
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    margin: 10px;
    max-width: 210px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    align-self: center;
    text-align: center;
    background-color: lightgray;
    padding-bottom: 76px;
}
.overlay {
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 47px;
    margin: 10px;
    max-width: 210px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    background-color: #808080;
    margin-top: -255px;
    clip-path: circle(6% at 90% 10%);
    transition: all 500ms ease-in-out;
}
.overlay > span{
    float: right;
    color: white;
    font-weight: bold;
    position: relative;
    margin-right: 3px;
    margin-top: -5px;
    transition: color 500ms;
}
.overlay:hover span {
    color: #00B6FF;
}
.overlay:hover{
    clip-path: circle(75%);
    background: #00B6FF;
}
.outer{
    max-height: 250px;
    height: 100%;
    padding-top: 10px;
    margin: 0px 20px 0px 20px;
}
.inputFieldDiv{
    padding: 10px 0;
}
.inputField{
    border: none;
    background-color: #808080;
    border-bottom: 2px solid red;
    transition: all 500ms;
    width: 200px;
}
.overlay:hover .inputField {
    background-color: #00B6FF;
}
.submitButton{
    width: 200px;
    background-color: #00B6FF;
}
.deleteButton{
    margin-top: 10px;
    background-color: #00B6FF;
    width: 200px;
}